/*Синтакси CSS

selector {

}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  /* має бути для кожного сайту. РОзмір який вказуємо включатиме розмір контенту + падінг + бордер */

h1 {
    color: red;
}