<section class="our-strengths">
    <h2 class="our-strengths__title">Our Strengths</h2>
    <p class="our-strengths__subtitle">We create functional</p>
    <div class="our-strengths__cards cards">
        <article class="cards__item">
            <div class="cards__item-image-container">
                <img class="cards__item-image" width="40" src="img/thumb-up.svg" alt="up">
                <h3>Quality</h3>
                <div></div>
                <p>The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
            </div>
        </article>
    
        <article>
            <div>
                <img width="40" src="img/thumb-up.svg" alt="up">
                <h3>Quality</h3>
                <div></div>
                <p>The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
            </div>
        </article>
    
        <article>
            <div>
                <img width="40" src="img/thumb-up.svg" alt="up">
                <h3>Quality</h3>
                <div></div>
                <p>The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
            </div>
        </article>
    </div>
</section>